<%- include('../partials/html-head') %>
<link rel="stylesheet" href="/stylesheets/flights/show.css" />
<%- include('../partials/nav') %>

<main>
  <h1><%= title %></h1>
  <a href="/flights/<%= flight._id %>/edit">
    <button>Edit Flight</button>
  </a>
  <section>
    <div>Airline </div>
    <div><%= flight.airline %></div>
    <div>Aiport </div>
    <div><%= flight.airport %></div>
    <div>Flight # </div>
    <div><%= flight.flightNo %></div>
    <div>Departure </div>
    <div><%= flight.departs %></div>
  </section>
  <!-- form to add tickets -->
  <h2>Tickets</h2>
  <form 
    id="add-review-form"
    action="/flights/<%= flight._id %>/tickets"
    method="POST"
  >
    <label for="seat-input">Seat:</label>
    <input name="seat" required pattern="[A-F][1-9]\d?" id="seat-input">
    <label for="price-input">Price:</label>
    <input name="price" id="price-input">
    <button type="submit">Add Ticket</button>
  </form>
 <!-- form to display tickets -->

 <% if (flight.tickets.length) { %>
  <table>
    <thead>
      <tr>
        <th>Date</th>
        <th>Seat</th>
        <th>Price</th>
      </tr>
    </thead>
    <tbody>
      <% flight.tickets.forEach(function(ticket) { %>
        <tr>
          <td><%= ticket.createdAt.toLocaleDateString() %></td>
          <td><%= ticket.seat %></td>
          <td><%= ticket.price %></td>
        </tr>
      <% }) %>
    </tbody>
  </table>
<% } else { %>
  <h3>No Tickets Yet</h3>
<% } %>

</main>
  
<%- include('../partials/footer') %>